<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartTrans_Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SmartTrans_Importer.Properties.Settings>
            <setting name="CsvExportLocation" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="eSolutionsLogin" serializeAs="String">
                <value>epadmin</value>
            </setting>
            <setting name="eSolutionsPassword" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value>auproxy.bcs.corp</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </SmartTrans_Importer.Properties.Settings>
    </userSettings>
</configuration>
